body {
	width: 600px;
	margin: 20px auto;
	font-family: georgia;
	border-right: 1px solid #ccc;
	padding-right: 10px;
	border-left: 1px solid #ccc;
	padding-left: 10px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}


h1 {
	font-size: 23px;
	font-weight: normal;

}

h2 {
	color: rgb(102, 102, 102);
	font-size: 11px;
	height: 14px;
	font-family: arial, helvetica, sans-serif;
}

h4  {
	font-family: arial, helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	height: auto;
	line-height: 12px;
	text-align: left;
}

p {
	display: block;
	font-family: georgia, 'times new roman', times, serif;
	font-size: 15px;
	height: 84px;
	line-height: 22px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-align: left;
	visibility: visible;
	width: 600px;
}

ul {	display: block;
	font-family: georgia, 'times new roman', times, serif;
	font-size: 15px;
	height: 84px;
	color: #333;
	margin-top: -17px;
	line-height: 22px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: left;
	visibility: visible;
	width: 600px;}


.adapted {color: rgb(128, 128, 128);
display: inline;
font-family: arial, helvetica, sans-serif;
font-size: 10px;
font-weight: normal;
height: auto;
line-height: 4;
text-align: left;
visibility: visible;
width: auto;}


h5 {
	display: block;
font-family: georgia, 'times new roman', times, serif;
font-size: 15px;
font-style: italic;
height: 22px;
line-height: 42px;
margin-bottom: 7px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
text-align: left;
visibility: visible;
width: 600px;
}

h6 {
	margin-left: 100;
}